<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ This file is part of the "dragon-code/last-modified" project.
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  ~
  ~ @author Andrey Helldar <helldar@ai-rus.com>
  ~
  ~ @copyright 2025 Andrey Helldar
  ~
  ~ @license MIT
  ~
  ~ @see https://github.com/TheDragonCode/last-modified
  -->

<phpunit
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="false"
        convertWarningsToExceptions="false"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        verbose="true"
>
    <php>
        <env name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
        <env name="APP_URL" value="http://localhost"/>
        <env name="DB_USERNAME" value="root"/>
        <env name="DB_PASSWORD" value="root"/>
        <env name="DB_DATABASE" value="default"/>
        <env name="REDIS_HOST" value="127.0.0.1"/>
        <env name="REDIS_PORT" value="6379"/>
        <env name="CACHE_DRIVER" value="redis"/>
        <env name="CACHE_STORE" value="redis"/>
    </php>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
